*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
#So we don't accidentally commit our private keys
*.gpg
.gigaide
/kotlin-js-store/yarn.lock
/test.lyng
/sample_texts/1.txt.gz
/kotlin-js-store/wasm/yarn.lock
/distributables
.output*.txt
debug.log
/build.log
/test.md
/build_output.txt
/build_output_full.txt
/check_output.txt
/compile_jvm_output.txt
/compile_metadata_output.txt
test_output*.txt
